@page "/"

<html lang="en">
  <head>
    <link
      link
      href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap"
      rel="stylesheet"
    />
    <!--MedievalSharp Font font-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="css/splashstyle.css" />
  </head>
  <body>
    <div class="splash-container">
      <h1>Start your day with</h1>
      <img
        src="images/splashscreen.jpg"
        alt="Splash Image"
        class="splash-image"
      />
    </div>

    <script>
        // Redirect to login page
        setTimeout(function() {
          window.location.href = "/login";
        }, 2000);
    </script>
  </body>
</html>
